{% extends "quotes/base.html" %}

{% block content %}

<form method="POST" action="{% url 'quotes:add_quote'  %}" style="max-width: 600px; margin: 0 auto;">
    {% csrf_token %}
    
    <div style="display: flex; flex-direction: column; gap: 15px;">
        <div style="display: flex; flex-direction: column;">
            <label>Author fullname:</label>
            {{ form.author }}
            <span style="color: red;">{{ form.errors.author }}</span>
        </div>

        <div style="display: flex; flex-direction: column;">
            <label>Quote description:</label>
            {{ form.quote }}
            <span style="color: red;">{{ form.errors.quote }}</span>
        </div>

        <div style="display: flex; flex-direction: column;">
            <label>Select tags:</label>
            <select name="tags" multiple="multiple" required style="padding: 35px; border-radius: 5px; width: 100%;">
                {% for tag in tags %}
                    <option value="{{ tag.name }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div style="display: flex; justify-content: space-between; margin-top: 20px;">
        <button type="submit" style="flex-basis: 48%;">Submit</button>
        <button type="reset" class="secondary" style="flex-basis: 48%;">Reset</button>
    </div>
</form>

{% endblock %}
